// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(68, 81, 192);
    text-align: center;
    height: 3em;
}